@import '~antd/dist/antd.css';
@import '../Style/table.scss';

$backgroundColorPrimary : red;
$colorWhite : #FFFFFF;
%btnStyle{
    width: 300px;
    height: 100px;
}

.btnActionTable {
    margin-left: 10px;
    margin-right: 10px;
}

.ant-layout-header
{
    background: white;
}

.card4
{
    width: 300px;
    height: 200px;
    display: table-cell;
    margin-bottom: 10px;
}

.footer
{
    text-align: center;
    height: 100%;
    background-color: #51adcf;
}

.steps-content {
    margin-top: 16px;
    border: 1px dashed #e9e9e9;
    border-radius: 2px;
    background-color: #fafafa;
    min-height: 200px;
    text-align: center;
    padding-top: 80px;
  }
  
  .steps-action {
    margin-top: 24px;
  }

.rowfooter
{
    padding-top: 15px;
}

.colfooter
{
    margin-bottom: 20px;
}

.pFirst
{
    font-size: 15px;
    margin-top: 10px;
    color: #ebebeb;
}

.menuHeader
{
    align-self: center;
    float: right;
    padding: 20;

    .menuMenu
    {
        padding: 20px;

        .linkmenu
        {
            color: cornflowerblue;
            font-size: 14px;
        }
    }
    
}

.submenu
{
    color: cornflowerblue;
    font-size: 14px;

    .menuMenu
    {
        padding: 20px;

        .linksubmenu
        {
            color: cornflowerblue;
            font-size: 14px;
        }
    }
}

.headertemplate
{
    position: fixed;
    z-index: 1;
    width: 100%;
}

.divfooter
{
    color: white;
    text-align: initial;
}

.h4
{
    color: white;
}

.iframemap
{
    width: 300px;
    height: 200px;
    border: 0px;
}

.carusel
{
    display: block;
    margin: auto;
}

.homesection
{
    position: relative;
    z-index: 2px;
}

.rowhome
{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.rowCol
{
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

.rowColSnd
{
    display: block;
    margin: auto;
    margin-bottom: 30px;
}
.containerDiv
{
    background-color: pink;
    padding: 100px;

    .btnToggle
    {
        width: 500px;
        background: $backgroundColorPrimary;
        color: $colorWhite;
    }
    .btnSecond
    {
        background: $backgroundColorPrimary;
        color: papayawhip;
    }
}

.siderItem
{
    background-color: #93b5e1;
}

.sectionScd
{
    background-color: yellow !important;
    width: 100%;
}

.btn
{
   @extend %btnStyle
}
.btnSuccess
{
    background: greenyellow;
}
.btnPrimary
{
    background: blue;
}
.btnDefault
{
    background: white;
}
.btnError
{
    background: red;
}
.btnTesting
{
   @extend %btnStyle;
   background: cadetblue;
}

.cardkotak
{
    background-color: #a5ecd7;
    width: 100%;
    height: 280px;
}

.cardkotakdua
{
    background-color: #51adcf;
    width: 100%;
    height: 280px;
}

.cardkotaktiga
{
    background-color: #0278ae;
    width: 100%;
    height: 280px;
}

.profil
{
    color: black;
    float: right;
}

.buttondiv
{
    align-self: center;
    float: right;
    margin: 20px;
}

.divform
{
    background-color: white;
    border-radius: 10px;
    width: 100%;
    padding: 20px 20px 20px 20px;
    margin-bottom: 20px;
}

.content1
{
    margin-top: 80px;
    margin-left: 30px;
    margin-right: 30px;
}


.content2
{
    margin-top: 100px;
}

.content3
{
    margin-top: 60px;
}

.content4
{
    margin-top: 40px;
}
.menuSatu
{
    background-color: #93b5e1;
    color: white;
    margin: 30px 0px 30px;

    .menuMenu
    {
        margin-top: 20px;

        
    }
}

.buttonnomor
{
    float: right;
    margin-bottom: 20px;
}

.pendaftaran
{
    width: 300;
    padding: 100px 20px 0px 20px;
    text-align: center;
    font-size: 20px;
    
    
}

.pict2
{
    width: 250px;
    height: 50px;
    float: left;
    margin: 12px 24px 16px 0;
    // margin-right: 700px;
}

.logo
{
    width: 30px;
    height: 30px;
    float: left;
    margin-top: 15px;
    // margin-right: 700px;
}

.pict3
{
    width: 30px;
    height: 30px;
    float: none;
    color: black;
}

.all
{
    padding-top: 6rem;
    padding-bottom: 3rem;
    position: relative;
    background-color: white;
}

.footer-links
{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 15px;
}

.layanan
{
    padding-top: 7rem;
    padding-bottom: 4rem;
    position: relative;
    background-color: #a5ecd7;
    margin-bottom: 20px;
}



.content-nomor
{
    align-self: center;
    margin-top: 100px;
    width: 400px;
    height: 300px;
}
.divlayanan
{
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}

.divlayanandua
{
    position: relative;
}

.h3layanan
{
    margin: -40px 0px 40px 0px;
    font-size: 1.5rem;
    font-weight: 500px;
    text-transform: capitalize;
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
}

.paragraph
{
    font-size: 1 rem;
    margin: auto;
    padding: 0px 20px;
    position: relative;
    text-align: center;
    color: white;
}

.a.link-item
{
    display: inline-block;
    text-decoration: none;
}

.a.link-p
{
    font-size: 13px;
}

.a.link--style-1
{
    color: black;
}

.department-small-view{
    background: red;
    padding: 40px 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    min-height: 205px;
    border-radius: 5px;
    display: table;
    width: 100%;
    box-shadow: 0px 0px 20px white;
    border-radius: $colorWhite;

    .block-icon
    {
        display: table-cell;
        vertical-align: middle;
        border: 0px;

    }
}

.pict4
{
    vertical-align: middle;
    border-style: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.button-look
{
    background-color: white;
    color: #51adcf;
    height: 35px;
}

.site-card-wrapper
{
    margin-top: 50px;
}

.visimisi
    {
        width: 300;
        margin: 100px 0px 0px 100px;
        text-align: center;
        font-size: 22px;
    }

.pict1
{
    width: 500px;
    display: block;
    margin: auto;
}

.h3
{
    color: white;
    font-size: 22px;
}

.pCard
{
    color: white;
    font-size: 30px;
}

.colCard1
{
    background-color: #a5ecd7;
    width: 210px;
    height: 100%;
}

.colCard1
{
    background-color: #51adcf;
    width: 210px;
    height: 100%;
}

.site-layout-background
{
    padding-left: 15px;
    color: black;
    height: 75px ;
    background-color:white ;

}


.searchKlik
{
    width: 300px;
    padding: 20px 0px 0px 15px;
}

.content
{
    margin: 0px;
}

.link-item
        {
            color: white;
        }

        .ant-carousel .slick-dots li button {
            border: 1px;
            background-color: #51adcf;
        }
        
        .ant-carousel .slick-dots li.slick-active button {
            background-color: royalblue;
        }

// media
@media screen and (max-width: 760px) {
    .pict1 {
      margin: 0px 0px 0px;
      width: 400px;
      display: block;
      margin: auto;
    }
    .visimisi {
    display: block;
    margin: auto;
    font-size: 20px;
    }
  };

  @media screen and (max-width: 560px) {
    .pict1 {
      margin: 0px 0px 0px;
    //   width: 400px;
      display: block;
      margin: auto;
      height: 200px;
    }
    .visimisi {
    display: block;
    margin: auto;
    font-size: 15px;

    }
  }